* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calculatrice {
    background-color: rgb(17, 26, 43);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    border: 3px solid black;
}

.ecran {
    background-color: white;
    width: 430px;
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    font-size: 32px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid black;
    overflow: auto;
    word-wrap: break-word;
}

.boutons {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-gap: 10px;
}

.bouton {
    font-size: 35px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    box-shadow: 0px 3px #a8a8a8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bouton:hover {
    cursor: pointer;
}

.bouton:active {
    box-shadow: 0px 1px #a8a8a8;
    transform: translateY(2px);
}

.resultZone {
    display: flex;
    justify-content: flex-end;
}

.calcZone {
    font-size: 28px;
}

div[data-key="Enter"] {
    grid-column: span 2;
}